#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

PACKAGE = qconf

DEBIAN_PATH := $(abspath $(dir $(MAKEFILE_LIST)))
USCAN_REPORT = $(shell uscan --noconf --report --dehs $(DEBIAN_PATH))
CUR_VER = $(shell echo "$(USCAN_REPORT)" | sed -n 's/.*<upstream-version>\(.*\)<\/upstream-version>.*/\1/p')
CUR_URL = $(shell echo "$(USCAN_REPORT)" | sed -n 's/.*<upstream-url>\(.*\)<\/upstream-url>.*/\1/p')

QMAKE=qmake-qt4

configure/qconf::
	./configure --prefix=/usr

clean::
	rm -rf debian/qconf
	rm -f config.guess config.sub conf.log conf.pri
	rm -f debian/qconf.substvars debian/qconf.debhelper.log
	rm -f qconf qconf.o stringhelp.o

install/qconf::
	mv debian/qconf/usr/bin/qconf debian/qconf/usr/bin/qt-qconf

get-orig-source::
	wget -c4 "$(CUR_URL)" -O "$(PACKAGE)_$(CUR_VER).orig.tar.gz"
